body{
    margin: 0px;
    padding: 0px;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    display: block;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    background-color: rgb(24, 92, 194);
    position: relative;
    padding: 0px 4.8rem;
}

a:-webkit-any-link {
    cursor:pointer;
    text-decoration:none;
}


.logo{
    height: 2.2rem;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* Navigation */
nav{
    display: block;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a{
    color: #aaa;
    text-decoration: none;
    line-height: 2em;
    display: inline;
    padding: 0.5em 1em;
}


nav > ul > button{
    border-radius: 4px;
    color: white;
    background-color: orange;
    border: none;
    min-height: 40px;
    padding-right: 10px;
    min-width: 30px;
}

.intro{
    display: grid;
    border: #aaa;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    grid-template-areas: 
    "left left right right";
    align-items: center;
    
}

.leftintro{
    grid: left;
    text-align: center;
}

.rightintro{
    grid: right;
}