body{
    margin: 0px;
    padding: 0px;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    display: block;
}
button {
    border-radius: 4px;
    color: white;
    background-color: orange;
    border: none;
    font-size: 20px;
    min-height: 40px;
    padding-right: 10px;
    min-width: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    background-color: rgb(24, 92, 194);
    position: relative;
    padding: 0px 4.8rem;
    margin-bottom: 80px;
}

a:-webkit-any-link {
    cursor:pointer;
    text-decoration:none;
}


.logo{
    height: 2.2rem;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* Navigation */
nav{
    display: block;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a{
    color: #aaa;
    text-decoration: none;
    line-height: 2em;
    display: inline;
    padding: 0.5em 1em;
}


nav > ul > button{
    border-radius: 4px;
    color: white;
    background-color: orange;
    border: none;
    min-height: 40px;
    padding-right: 10px;
    min-width: 30px;
}
/*<!-- intro section */
h1{
    font-size: 40px;
    margin-bottom: 25px;
}
p{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: #aaa;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    grid-template-areas: 
    "left left right right";*/
   padding: 0px 100px;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #aaa;
}